.op_container {
  padding: 80px 20px;
  text-align: center;
  background: #f9fbff;
  position: relative;
}

.op_container h2 {
  font-size: 2.5rem;
  color: #001f3f;
  margin-bottom: 50px;
  font-weight: 700;
}

.op_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px; 
  border-radius: 16px;
  max-width: 600px;
  margin: 0 auto; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
.op_icon {
  width: 160px;
  height: 160px;
  border: 1px solid #DDEAF9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.op_icon_wrap {
  width: 130px;
  height: 130px;
  background: rgba(0, 71, 171, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.op_content {
  text-align: left;
  align-items: center;
  text-align: center;
  padding: 60px;
}
.brand {
  color: #0047ab;
}

.op_title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #1F1F1F;
  font-weight: 700;
}

.op_description {
  font-size: 1rem;
  color: #545454;
  line-height: 1.6;
}
.op_cards {
  display: flex;
  gap: 25px;
}

.dotsTwo{
  position: absolute; 
  top: 80px;
  left: 0; 
  overflow: hidden;
}

/* Responsive */
@media (max-width: 768px) {
  .op_card {
    flex-direction: column;
    text-align: center;
  }
.op_cards{
  flex-direction: column;
}
  .op_content {
    text-align: center;
    padding: 0;
  }
}
