.container {
  padding: 80px 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  color: #001f3f;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.description {
  text-align: center;
  font-size:  18px;
  color: #545454;
  max-width: 800px;
  margin: 0 auto 100px auto;
  line-height: 1.6;
  font-weight: 400;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.imagewrap {
  flex: 1;
}

.imagewrap img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.content h3 {
  font-size: 1.8rem;
  color: #0047ab;
  margin-bottom: 20px;
  font-weight: 600;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul li {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
}

.content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #0047ab;
}

/* Responsive for mobile/tablet */
@media (max-width: 992px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .content ul li {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}

/* Philosophy */
.philosophySection {
  padding: 70px 100px;
  position: relative;
}
.philosophyGrid {
  display: flex;
  gap: 50px; 
}
.philosophyImgCol {
  flex: 1;
  /* background-color: lightcoral; */
}
.philosophyImg {
  height: 370px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.philosophyTextCol {
  flex: 1;
  padding: 30px;
  /* background-color: lightblue; */
  display: flex; 
  justify-content: center;
  flex-direction: column;

}
.h44 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.accent {
  color: #0047ab;
}
.lead {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
}
.philosophyList {
  font-size: 20px;
  font-weight: 600;
  text-decoration: dashed;
  list-style-type: "⬤  ";
  color: #1f1f1f;
  padding-left: 50px;
  line-height: 56px;
}

.dotsTwo {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 670px) {
  .philosophySection {
    display: flex;
    flex-direction: column;
  }
  .philosophyGrid {
    display: flex;
    flex-direction: column;
  }
}
