.heroWrapper {
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 71, 171, 0.51) 100%
  );
  width: 100%;
  margin-bottom: 5rem; /* mb-20 */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.heroContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 112rem; /* max-w-7xl */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 3rem; /* pt-12 */
  padding-bottom: 5rem; /* pb-20 */
}

@media (min-width: 640px) {
  .heroContainer {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .heroContainer {
    padding-top: 4rem; /* lg:pt-16 */
    padding-bottom: 6rem; /* lg:pb-24 */
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* gap-6 */
  padding-top: 6.25rem; /* pt-25 */
}

.heroTitle {
  font-size: 54px;
  font-weight: 700;
  color: #1f1f1f;
}

.heroTitleHighlight {
  color: #0047ab;
  font-size: 54px;
  font-weight: 700;
}

.heroText {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
}

.heroButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem; /* rounded-xl */
  background-color: #0047ab;
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  font-size: 1rem; /* text-base */
  font-weight: 600; /* font-semibold */
  color: var(--background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: opacity 0.2s ease;
}

.heroButton:hover {
  opacity: 0.9;
}

.heroButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--foreground);
}

.heroSvgWrapper {
  padding-top: 12.5rem; /* pt-50 */
}

@media (max-width: 670px) {
  .heroTitle {
    font-size: 40px;
  }
  .heroTitleHighlight {
    font-size: 40px;
  }
  .heroText {
    font-size: 16px;
  }
  .heroButton {
    padding: 0.5rem 1rem; /* px-4 py-2 */
    font-size: 0.875rem; /* text-sm */
    border-radius: 10px;
  }
  .heroSvgWrapper {
    display: none;
  }
  .heroContent{
    padding: 30px;
  }
}