.container {
  width: 100%;
  height: 18rem; /* h-72 */
  border-radius: 1rem; /* rounded-2xl */
  border: 1px solid rgba(0, 0, 0, 0.1); /* border-black/10 */
  padding: 1rem; /* p-4 */
  background: white;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .container {
    border: none;
    padding: 0;
  }
}