.sectionPadLg{
    padding: 100px;
}
.ctaBar{
    background-color: #002855;
    color: #FFF;
    border-radius: 30px;
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.ctaTitle{
    font-size: 36;
    font-weight: 700;
    margin-bottom: 25px;
}

.ctaSubtitle{
    font-size: 18px;
    font-weight: 400;
}

.ctaPrimary{
    background-color: #FFF;
    color: #002855;
    padding: 17px 45px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 18px;
}

.ctaPrimary:hover{
    background-color: #bfc0c4;
    color: #002855;
    padding: 17px 45px;
    border-radius: 16px;
}

@media (max-width: 1024px) {
    .sectionPadLg{
        padding: 50px;
    }

    .ctaBar{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    } .ctaPrimary{
        width: 100%;
        margin-top: 70px;
    }
}

@media (max-width: 640px) {
    .ctaPrimary{
        width: 100%;
        margin-top: 70px;
    }
    .ctaSubtitle{
        margin-bottom: 30px;
    }
    .ctaBar{
        padding: 50px;
    }
}