.heroRoot{
   position: relative;  
}
.heroSection{
   background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(236, 244, 254, 1) 100%);
padding: 120px;
 
}

.heroStack{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heroTitle{
    font-size: 54px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 1.15;
    letter-spacing: -0.01em;
    color: #1F1F1F;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.brand{
    color: #0047AB;
}
.leftOrnamentPad{
    position: absolute;
    bottom: 170px   ;
    left: 77px;
}
.rightOrnamentPad{
    position: absolute;
    padding: 25px;
    bottom:40px;
    right: 0;
}
.heroSubtitle{
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: #545454;
    text-align: center;
    margin: 0;
    padding: 0 75px;  
}

.ctaBar{
    width: auto;
    margin: 20px;
    display: flex;
}
.ctaPrimary{
    background-color: #0047AB;
    padding: 20px 50px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    cursor: pointer;
   transition: background-color 0.3s ease;
}

.ctaPrimary:hover {
      background-color: #003580; /* Darker shade of blue */
}
 
@media (max-width: 768px) {
   
   .heroSection{
       padding: 50px 30px;
   }
    .heroStack{
        padding: 0 0;
    }
    .heroTitle{
        font-size: 46px;
    }
    .heroSubtitle{
        font-size: 18px;
        padding: 0 50px;  
    }
    .ctaPrimary{
        font-size: 16px;
        padding: 15px 40px;
    }
    .leftOrnamentPad{
        display: none;
    }
    .rightOrnamentPad{
        display: none;
    }
    
}