.sectionPadLg{
    display: flex;
    flex-direction: row; 
    padding: 50px 100px;
}

.testimonialTitle{
    font-size: 44px;
    font-weight: 700;
    color: #1f1f1f;
}
.arrowGroup{
    display: flex;
    gap: 20px;
}
.arrowBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    background-color: #ECF4FE;
    transition: all 0.3s ease-in-out;
}
 
.arrowBtn:hover{
    background-color: #0047AB;
    color: #ffffff; ;
}
.testimonialRow{
    display: flex;
    flex: 4;
}
.testimonialLeft{
    flex: 2;
}

.testimonialCardsCol{
    flex: 3;
    position: relative;
     
}

.testimonialCard{
    position: relative;
    border-radius: 26px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    max-width: 600px;
margin-bottom: 30px;
z-index: 2;
} 
.testimonialContentPad{
    margin-left: 20px;
}

.testimonialCopy{
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1.15;
    letter-spacing: -0.01em;
    color: #1F1F1F;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

}

.userRow{
    display: flex;
    align-items: center;
}

.userName{
    font-size: 16px;
    font-weight: 700;
    color: #0047AB;
    margin-left: 10px;
}

.cardsBacker{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.testimonialCard:first-child{
    margin-left: 150px;
}