
.bannerWrap{
    display: none;
}

@media (max-width: 760px) {
    .bannerWrap{
        display: flex;
        width: 100%; 
        justify-content: center;
        padding: 0 20px;
    }
    .bannerImg{
        border-radius: 20px;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ECF4FE;
        padding: 30px;
        border-radius: 20px;
    }
    .bannerTitle{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    .bannerText{
        margin-top: 30px;
    }
}